# Visual Studio
.vs/
Intermediate/
Bin/
[Ii]ncludes/
[Ll]ib/
*.user
*.suo
*.db
*.ipch

# Compiled files
*.obj
*.o
*.pdb
*.ilk
*.lib
*.dll
*.exe
*.out

# Temporary files
*.tmp
*.log
*.bak
*.swp
*.env

# Other build files
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
vcpkg_installed/
Testing/
.cache/